
  <appSettings>
    <add key="URL" value="https://www.linklaters.com/"/>
    <add key="TestDataSheetPath" value="C:\Users\pmurp\source\repos\CompanyWebsitePageFactory\CompanyWebsitePageFactory\TestDataAccess\TestData.xlsx"/>
    <add key="PeopleSearch" value="https://www.linklaters.com/en/find-a-lawyer"/>
    <add key="AboutUs" value="https://www.linklaters.com/en/about-us"/>
    <add key="ContactUs" value="https://www.linklaters.com/en/about-us/contact-us"/>
    <add key="FindPeople" value="https://www.linklaters.com/en/find-a-lawyer"/>
  </appSettings>