
  <appSettings>
    <add key="URL" value="https://trello.com/"/>
    <add key="TestDataSheetPath" value="C:\Users\pmurp\source\repos\CompanyWebsitePageFactory\CompanyWebsitePageFactory\TestDataAccess\TestData.xlsx"/>
    <add key="LoginPageURL" value="https://trello.com/login"/>
    <add key="ValidLogInUser" value="pmurphy38@outlook.com"/>
    <add key="ValidLogInPass" value="Autobot78!#"/>
    <add key="PrivateConfigFile" value=""/>   
  </appSettings>